
<h1>Details on <%= @task[:title] %></h1>
<h2><%= @task[:details] %></h2>


<a href="http://localhost:3000/tasks/<%=@task[:id]%>/edit">edit</a>


<a href="http://localhost:3000/tasks"> back to tasks</a>


